<p>Length: {{ productPage.content.length }}</p>


@if (productPage.content.length > 0) {

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
    </thead>

    <tbody>
      @for (product of productPage.content; track product.productId) {
        <tr>
          <td>{{ product.productId }}</td>
          <td>{{ product.name }}</td>
          <td>
            {{ product.price | currency:'BRL':'symbol':'1.2-2' }}
          </td>
          <td>{{ product.category ?? 'N/A' }}</td>
          <td>
            <button class="btn btn-sm btn-primary">Editar</button>
            <button class="btn btn-sm btn-danger">Excluir</button>
          </td>
        </tr>
      }
    </tbody>
  </table>

} @else {

  <p>Carregando produtos...</p>

}
